<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>lines</title>
    <style>
        .lines{
            height: 4px;
            display: inline-block;
            width: 100%;
            background-color: #BDBDBD;
        }
    </style>
</head>
<body>
    <div class="lines"></div>
    <!--可以根据不同位置调整css从而出现不同的横线-->
</body>
</html>