<body>
<div class="top"></div>
<div id="header">
	<div class="logo">以升后台管理系统</div>
	<div class="navigation">
		<ul>
			<li><a href="">修改密码</a></li>
			<li><a href="">退出</a></li>
		</ul>
	</div>
</div>
<div id="content">
	<div class="left_menu">
				<ul id="nav_dot">
      <li>
          <h4 class="M1"><span></span>发布新闻</h4>
          <div class="list-item none">
            <span name="news">添加新闻</span>
            <a href="check_news">查看新闻</a>
          </div>
        </li>
        <li>
          <h4 class="M2"><span></span>栏目管理</h4>
          <div class="list-item none">
            <a href='col_page1'>添加栏目</a>
            <a href='col_page2'>栏目管理</a>
           </div>
        </li>
        <li>
          <h4 class="M4"><span></span>图片管理</h4>
          <div class="list-item none">
            <a href='img'>添加图片</a>
            <a href='img_form'>图片列表</a>
          </div>
        </li>
				<li>
          <h4 class="M4"><span></span>账号管理</h4>
          <div class="list-item none">
            <a href='add_admin'>添加账号</a>
            <a href='check_admin'>账号列表</a>
          </div>
        </li>
  </ul>
		</div>

		<!--<div class="m-right">-->
			<!--<div class="right-nav">-->
					<!--<ul>-->
							<!--<li><img src="/static/admina/images/home.png" style="margin-bottom: 88%;"></li>-->
								<!--<li style="margin-left:25px;">您当前的位置：</li>-->
								<!--<li><a href="#">系统公告</a></li>-->
								<!--<li>></li>-->
								<!--<li><a href="#">最新公告</a></li>-->
						<!--</ul>-->
			<!--</div>-->
			<!--<div class="main">-->

			<!--</div>-->
		<!--</div>-->
<!--</div>-->
<!--<div class="bottom"></div>-->
<!--&lt;!&ndash;<div id="footer"><p>Copyright©  2015 版权所有 京ICP备05019125号-10  来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p></div>&ndash;&gt;-->
<!--<script>navList(12);</script>-->

