.center{
    width: 300px;
    text-align: right;
    margin-left: 30%;
    font-size: 16px;
}

.center input[type=text], input[type=password]{
    width: 50%;
    margin-left: 10%;
    margin-bottom: 3%;
    height: 4%;
}

.button{
    margin-left: 35%;
}

input[type=button]{
    margin: 3%;
}