.left_content{
    position: absolute;
    left:40%;

}
.right_content{
    position: absolute;
    right: 40%;
}
li{
    height: 45px;
}
.right_button{
    position: absolute;
    top:120%;
}
.left_button{
    position: absolute;
    top:120%;
}
.right_sel .right_input{
    width:170px;
}