<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理系统</title>
    <link type="text/css" rel="stylesheet" href="/static/admina/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/static/admina/css/add_admin.css">
    <script type="text/javascript" src="/static/admina/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/admina/js/menu.js"></script>
</head>
<body>
{% include "admina/include/include.html" %}

	<div class="m-right">
		<div class="right-nav">
				<ul>
                    <a href="/admin"><li><img src="/static/admina/images/home.png" style="margin-bottom: 88%;"></li></a>
                    <li style="margin-left:25px;">您当前的位置：</li>
                    <li><span href="#">添加账号</span></li>
                </ul>
		</div>
		<div class="main">
            <div class="center">
                <div>
                    <span>姓名：</span>
                    <input type="text" name="name">
                </div>

                <div>
                    <span>账号：</span>
                    <input type="text" name="username">
                </div>

                <div>
                    <span>密码：</span>
                    <input type="password" name="password">
                </div>

                <div>
                    <span>再次输入密码：</span>
                    <input type="password" name="password1">
                </div>

                <div>
                    <span>所属部门：</span>
                    <input type="text" name="department">
                </div>
            </div>

            <div class="button">
                    <input type="button" value="创建" name="submit">
                    <input type="button" value="重置" name="reset">
            </div>
		</div>
	</div>

<div class="bottom"></div>

<script type="text/javascript" src="/static/admina/login/js/jquery-2.1.1.js"></script>
<script type="text/javascript" src="/static/admina/js/add_admin.js"></script>
<script>navList(12);</script>
</body>
</html>