<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理系统</title>
<link type="text/css" rel="stylesheet" href="/static/admina/css/style.css" />
	<link type="text/css" rel="stylesheet" href="/static/admina/css/col_page1_css.css"/>
<script type="text/javascript" src="/static/admina/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/admina/js/menu.js"></script>

</head>
<body>
{% include "admina/include/include.html" %}

		<div class="m-right">
			<div class="right-nav">
					<ul>
							<li><img src="/static/admina/images/home.png" style="margin-bottom: 88%;"></li>
								<li style="margin-left:25px;">您当前的位置：</li>
								<li><a href="#">系统公告</a></li>
								<li>></li>
								<li><a href="#">最新公告</a></li>
						</ul>
			</div>
			<div class="main">
				<form id="pictureForm" method="post" enctype="multipart/form-data">
					<div class="left_content">
						<ul class="right_ul">
							<li>栏目名称：</li>
							<li>栏目级别：</li>
							<li>父级栏目：</li>
							<li>栏目顺序：</li>
							<li>是否启用：</li>
							<li>上传图片：</li>
						</ul>
						<input type="button" value="返回" onclick="" class="right_button"/>
					</div>
					<div class="right_content">
						<ul class="right_ul">
							<li><input type="text" class="right_input" name="name"></li>
							<li>
								<select class="right_sel" name="level">
									<option value="1" selected="selected">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
								</select>
							</li>
							<li><input type="text" class="right_input" name="parentColum"></li>
							<li>
								<input type="text" class="right_input" name="sort"/>
							</li>
							<li>
								启用：<input type="radio" name="is_use" value="1"/>
								禁用：<input type="radio" name="is_use" value="0"/>
							</li>
							<li><input type="file" class="right_input" name="image"></li>
						</ul>
						<input type="button" value="添加" onclick="" class="left_button" name="submit">
					</div>
				</form>
			</div>
		</div>

<div class="bottom"></div>
<script type="text/javascript" src="/static/admina/login/js/jquery-2.1.1.js"></script>
<script type="text/javascript" src="/static/admina/login/js/jquery.form.js"></script>
<script type="text/javascript" src="/static/admina/js/col_page1.js"></script>
<script type="text/javascript" src="/static/admina/js/include.js"></script>
<script>navList(12);</script>
</body>
</html>