<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理系统</title>
<link type="text/css" rel="stylesheet" href="/static/admina/css/style.css" />
<script type="text/javascript" src="/static/admina/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/admina/js/menu.js"></script>
</head>
<body>
{% include "admina/include/include.html" %}

	<div class="m-right">
		<div class="right-nav">
				<ul>
                    <a href="/admin"><li><img src="/static/admina/images/home.png" style="margin-bottom: 88%;"></li></a>
                    <li style="margin-left:25px;">您当前的位置：</li>
                    <li><span href="#">主页</span></li>
                </ul>
		</div>
		<div class="main">
			<h2>我是主页</h2>
		</div>
	</div>

<div class="bottom"></div>
<script type="text/javascript" src="/static/admina/login/js/jquery-2.1.1.js"></script>
<script type="text/javascript" src="/static/admina/js/include.js"></script>
<script>navList(12);</script>
</body>
</html>